<div class="list-group">
  <center>
    <li class="list-group-item">
    <%= button_to 'Log In', users_path %>
    </li>
    <li class="list-group-item">
    <%= button_to 'Start', pets_path %>
    </li>
  </center>
</div>
